[Unit]
Description=MineCraft DaaS Service

[Service]
Type=forking
User=root
ExecStart=/usr/local/bin/linuxVirtualization/server.sh
ExecReload=/usr/local/bin/linuxVirtualization/server_reload.sh
ExecStop=/usr/local/bin/linuxVirtualization/kill.sh
StandardOutput=append:/usr/local/bin/linuxVirtualization/server.log
StandardError=append:/usr/local/bin/linuxVirtualization/error.log

[Install]
WantedBy=multi-user.target
